<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/file/admin/dashboard.css" />
    <title>Admin DashBoard</title>
  </head>
  <body>
    <%- include('../../partials/admin/admin_page'); %>
    <main>
      <div class="web">
        <div class="view">
          <p class="title">Views</p>
          <% if (view) { %>
          <p class="value"><%=view%></p>
          <% } else { %>
          <p class="value">0</p>
          <% } %>
        </div>
        <div class="accounts">
          <p class="title">Accounts</p>
          <p class="value"><%= accounts %></p>
        </div>
        <div class="puzzles">
          <p class="title">Puzzles</p>
          <p class="value"><%= puzzles %></p>
        </div>
        <div class="rate">
          <p class="title">Rate</p>
          <p class="value"><%=rate%></p>
        </div>
      </div>
      <div id="mess"></div>
      <div class="comments"></div>
      <script src="../../../public/admin/dashboard.js"></script>
    </main>
  </body>
</html>
